<div class="container py-5">

  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create a new restaurant</h5>
          <hr>
          <form method="POST" action="/restaurants">
            <div class="row mb-3 g-2">
              <label for="id" class="col-md-4 col-form-label">
                ID
              </label>
              <div class="col-md-8">
                <input type="number" name="id" class="form-control" id="id" required>
                <small class="text-muted form-text">Required. Must be a number</small>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="name" class="col-md-4 col-form-label">
                Name
              </label>
              <div class="col-md-8">
                <input type="text" name="name" class="form-control" id="name" required>
                <small class="text-muted form-text">Required.</small>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="name_en" class="col-md-4 col-form-label">
                English Name
              </label>
              <div class="col-md-8">
                <input type="text" name="name_en" class="form-control" id="name_en">
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="category" class="col-md-4 col-form-label">
                Category
              </label>
              <div class="col-md-8">
                <input type="text" name="category" class="form-control" id="category" required>
                <small class="text-muted form-text">Required.</small>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="image" class="col-md-4 col-form-label">
                Image
              </label>
              <div class="col-md-8">
                <input type="text" name="image" class="form-control" id="image" required>
                <small class="text-muted form-text">Required.</small>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="location" class="col-md-4 col-form-label">
                Location
              </label>
              <div class="col-md-8">
                <input type="text" name="location" class="form-control" id="location" required>
                <small class="text-muted form-text">Required.</small>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="phone" class="col-md-4 col-form-label">
                Phone
              </label>
              <div class="col-md-8">
                <input type="text" name="phone" class="form-control" id="phone">
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="google_map" class="col-md-4 col-form-label">
                Google Map
              </label>
              <div class="col-md-8">
                <input type="text" name="google_map" class="form-control" id="google_map">
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="rating" class="col-md-4 col-form-label">
                Rating
              </label>
              <div class="col-md-8">
                <input type="text" name="rating" class="form-control" id="rating" required>
                <small class="text-muted form-text">Required. Must be a number</small>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="description" class="col-md-4 col-form-label">
                Description
              </label>
              <div class="col-md-8">
                <input type="text" name="description" class="form-control" id="description" required>
                <small class="text-muted form-text">Required.</small>
              </div>
            </div>

            <button class="btn btn-success" type="submit">Create Now!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>